# Bytecode caches
**/__pycache__/
**/*.pyc

# Packaging and venvs
**/*.egg-info/
/dist/
/build/
/.venv/

# Testing and coverage
/.cache/
/.pytest_cache/
/.hypothesis/
/.tox/
/htmlcov/
/.coverage

# Editor crud
**/*.sw[a-p]
